.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  /* margin-top: 50px; */
}
.gameResult {
  width: 45%;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .board {
    justify-content: center;
    align-items: center;
  }
}

.infoArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.enableBotBtn {
  width: 100px;
  height: 40px;
  margin: auto;
  /* margin-left: 35px; */
  background-color: #282c34;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: border, color, 500ms;
  font-size: 15px;
}

.enableBotBtn:hover {
  color: #282c34;
  background-color: #fff;
}

.not-active {
  border-color: red;
  color: red;
  pointer-events: none;
}
.not-active:hover {
  border-color: red;
  color: red;
  background-color: #282c34;
}
