.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  transition: color, background-color, 500ms;
  font-size: 50px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border: 1px solid black;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .square {
    width: 85px;
    height: 85px;
    /* Можно добавить что-то вроде margin для отступов */
    font-size: 33px;
  }
}

.square:hover {
  background-color: #000;
  color: #fff;
  transition: color, background-color, 500ms;
}

.winner {
  position: relative;
}

.winner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red; /* цвет линии */
  transform: translateY(-50%);
}

.winner.diagonal-right::after {
  width: 165%; /* немного больше, чтобы линия пересекала всю сетку */
  height: 2px;
  background-color: red;
  top: 52%;
  left: -29%;
  transform: rotate(45deg); /* для диагонали */
}
.winner.diagonal-left::after {
  width: 153%; /* немного больше, чтобы линия пересекала всю сетку */
  height: 2px;
  background-color: red;
  top: 52%;
  left: -29%;
  transform: rotate(-45deg); /* для диагонали */
}

/* Стиль для вертикальной победной линии */
.winner.vertical::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Вертикальная линия посередине ячейки */
  width: 2px; /* Ширина линии */
  height: 100%;
  background-color: red; /* Цвет линии */
  transform: translateX(-50%); /* Центрируем линию по оси X */
}

.winner.horizontal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: translateY(-50%);
}

.x {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
