.theme-selector {
  display: flex;
  gap: 10px;
}

.theme-option {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.theme-option:hover {
  opacity: 0.7;
}

.picker-list {
  display: flex; /* Flexbox для выравнивания элементов */
  list-style-type: none; /* Убираем маркеры у списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  gap: 30px;
  justify-content: center;
}

.picker-item {
  cursor: pointer;
  width: 200px; /* Ширина бокса */
  height: 112px; /* Высота бокса */
  background-color: #4caf50; /* Цвет фона */

  /* background-image: url("../../images/Mattehorn\ background\ photo.jpg"); */
  background-size: 100%;

  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;

  display: flex;
  align-items: center; /* Вертикальное выравнивание текста */
  justify-content: center; /* Горизонтальное выравнивание текста */
  color: white; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  border-radius: 5px;
}

.picker-item:first-child {
  background-color: white;
  color: black;
  /* background-image: url("../../images/light-theme.png"); */
}

.picker-item:nth-child(2) {
  /* background-image: url("../../images/Mattehorn\ background\ photo.jpg"); */

  background-color: gray;
  color: black;
}

.picker-item:nth-child(3) {
  background-image: url("../../images/Mattehorn\ background\ photo.jpg");
}

.current-theme {
  border: 4px dotted red;
}
